body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding:25px ;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: white;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 36px;
    margin-top:45px ;
    margin-bottom:60px ;
    background-color: white;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 400px;
    margin:25px ;
}

.article-but {
    text-decoration: none;
    background-color: rgb(128, 128, 128);
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: rgb(255, 255, 255);
    padding:35px ;
}

footer a {
    margin-right:90px ;
}

footer p {
    font-size: 24px;
}

header,nav,.info,footer {
    display: flex;
}
